{% include '/header.html' %}
{% include '/nav.html' %}


<div class="container">
  <div class="row justify-content-center">
    <div class="col-11 mt-2">


    </div>
  </div>
  <br />

  <div class="border border-dark mt-4 border-2 p-0">
    <div class="card-header" style="background-color: #011f4b;">
      <div class="d-flex justify-content-between">
        <a class="btn btn-light btn-md" href="#" data-toggle="modal" data-target="#modalcreate">
          <i class="fas fa-plus-circle"></i>Registrar Temperatura</a>

        {% include '/temperatura/modal/create.html' %}

      </div>

    </div>
    <div class="table-responsive bg-white container pt-2">
      <table class="table table-light p-0 my-0 " id="example">
        <thead>
          <tr>
            <td>#</td>
            <td>Ciudad</td>
            <td>Temperatura</td>
            <td>Fecha</td>
          </tr>
        </thead>

        <tbody>
          {% for temp in temperaturaLista %}
          <tr>
            <td>#</td>
            <td>{{ temp.Ciudad.nombre_ciudad }}</td>
            <td>{{ temp.Temperatura.temperatura_aire }}</td>
            <td>{{ temp.Temperatura.fecha_registro }}</td>
          </tr>
          {% endfor %}

        </tbody>
      </table>

    </div>
  </div>
</div>

{% include '/temperatura/scripts.html' %}
{% include '/footer.html' %}