{% include '/header.html' %}
{% include '/nav.html' %}


<div class="container">
  <div class="row justify-content-center">
    <div class="col-11 mt-2">
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages%}
      {% for category, msg in messages %}
      <div class="alert alert-{{category}}">
        {{ msg }}
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}

    </div>
  </div>
  <br />
  <div class="row justify-content-center">
    <h2>Banner</h2>
  </div>
  <div class="border border-dark border-2 p-0">
    <div class="card-header" style="background-color: #011f4b;">
      <div class="d-flex justify-content-between">
        <a class="btn btn-light btn-md" href="#" data-toggle="modal" data-target="#modalcreate">
          <i class="fas fa-plus-circle"></i> Nuevo Banner</a>
        {% include '/banner/modal/create.html' %}


      </div>

    </div>
    <div class="row p-2">
      {% for banner in bannersLista %}

      <div class="col col-sm-12 col-md-6 col-lg-4 mt-sm-2">
        <div class="card ">
          <img class=" img-responsive" src="/banner/{{banner.archivo}}" alt="">
          <div class="card-body">
            <h5 class="card-title">{{banner.titulo }}</h5>
            <p class="card-text">{{banner.descripcion }}</p>
            <a onclick="return confirm('Desea ocultar el banner?')" class="btn btn-danger btn-sm py-0"
              href="/banner/inactiva/{{banner.id}}">
              Ocultar</a>
          </div>
        </div>

      </div>
      {% endfor %}


    </div>
  </div>
</div>


{% include '/footer.html' %}