{% include '/header.html' %}
<script type="text/javascript">
    function Validate() {
        var password = document.getElementById("txtPassword2").value;
        var confirmPassword = document.getElementById("txtConfirmarPassword").value;
        if (password != confirmPassword) {
            alert("La contraseña no coincide, favor intentar nuevamente");
            return false;
        }
        return true;
    }
</script>


</head>

<body style="background-color: hsl(205, 42%, 79%)">

    <main>
        <div class="row justify-content-center">
            <div class="col-11 mt-2">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages%}
                {% for category, msg in messages %}
                <div class="alert alert-{{category}}">
                    {{ msg }}
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}

            </div>
        </div>
        <div class="contenedor__todo">
            <div class="caja__trasera">
                <div class="caja__trasera-login">
                    <h3>¿Ya tienes una cuenta?</h3>
                    <p>Inicia sesión para entrar en la página</p>
                    <button id="btn__iniciar-sesion">Iniciar Sesión</button>
                </div>
                <div class="caja__trasera-register">
                    <h3>¿Aún no tienes una cuenta?</h3>
                    <p>Regístrate aquí e inicia sesión</p>
                    <button id="btn__registro-usuario">Registrarse</button>
                </div>
            </div>
            <!--Formularios de ingreso y registro-->
            <div class="contenedor__login-register">
                <!--Ingreso-->
                <form method="POST" action="{{ url_for('inicio_bp.frmlogin2') }}" class="formulario__login">
                    <h2>Iniciar sesión</h2>
                    <input type="text" name="txtCorreo" id="txtCorreo" placeholder="Correo electrónico">
                    <input type="password" name="txtPassword" id="txtPassword" placeholder="Contraseña">
                    <button>Ingresar</button>
                </form>
                <form method="POST" action="{{ url_for('inicio_bp.frmRegistrar2') }}" class="formulario__register"
                    onsubmit="return Validate()">


                    <!--Registro-->
                    <h2>Registrarse</h2>
                    <input type="text" name="txtNombre" id="txtNombre" placeholder="Nombre completo">
                    <input type="text" name="txtCorreo2" id="txtCorreo2" placeholder=" Correo electrónico">
                    <input type="password" name="txtPassword2" id="txtPassword2" placeholder="Contraseña">
                    <input type="password" name="txtConfirmarPassword" id="txtConfirmarPassword"
                        placeholder="Confirmar Contraseña">

                    <input class="btn btn-success" type="submit" value="Registrarse" />
                </form>
            </div>
        </div>
    </main>

    {% include '/footer.html' %}