</head>

<body style="background-color: hsl(205, 42%, 79%)">

    <nav class="navbar navbar-expand-lg navbar-light  sticky-top " style="background-color: #03396c">

        {% if current_user.rol == 'Tendero' %}
        <h3> <a class="nav-link text-light pr-1 font-weight-bold" href="{{ url_for('inicio_bp.home') }}" tabindex="-1"
                aria-disabled="true">TecnoAmbiental</a> </h3>
        {% else %}
        <h3> <a class="nav-link text-light pr-1 font-weight-bold" href="{{ url_for('usuario_bp.index') }}" tabindex="-1"
                aria-disabled="true">TecnoAmbiental</a> </h3>
        {% endif %}
        <button class="navbar-toggler" data-target="#navbarNavDropdown" data-toggle="collapse" aria-controls="my-nav"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                {% if current_user.perfil <= 2 %} <li class="nav-item col-md">
                    <a class="nav-link pr-1" href="{{ url_for('inicio_bp.home') }}" tabindex="-1" aria-disabled="true"
                        style="color: #fffff4;">Inicio</a>
                    </li>

                    <li class="nav-item col-md">
                        <a class="nav-link pr-1" href="{{ url_for('inicio_bp.home') }}" tabindex="-1"
                            aria-disabled="true" style="color: #fffff4;">Consultar</a>
                    </li>
                    {% endif %}
                    {% if current_user.perfil == 2 %}
                    <li class="nav-item col-md">
                        <a class="nav-link pr-1" href="{{ url_for('temperatura_bp.index') }}" tabindex="-1"
                            aria-disabled="true" style="color: #fffff4">Temperatura</a>
                    </li>


                    {% endif %}

                    {% if current_user.perfil == 3 %}

                    <li class="nav-item col-md">
                        <a class="nav-link pr-1" href="{{ url_for('usuario_bp.index') }}" tabindex="-1"
                            aria-disabled="true" style="color: #fffff4">Usuarios</a>
                    </li>
                    <li class="nav-item col-md">
                        <a class="nav-link pr-1" href="{{ url_for('banner_bp.index') }}" tabindex="-1"
                            aria-disabled="true" style="color: #fffff4">Banner</a>
                    </li>


                    {% endif %}

                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle text-white ml-3" id="dropdown07"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{current_user.nombre}}
                            {% if current_user.is_anonymous %}

                            {% else %}

                            {{ current_user.nombre_usuario }}

                            {% endif %}
                        </a>

                        <div class="dropdown-menu bg-dark p-0" id="dropdown" aria-labelledby="dropdown07"
                            style=" width:280px">
                            <div class="container  bg-dark py-2 ">
                                <div class="col text-white  text-center">
                                    <!-- <img src="/img/cuenta.svg" class="rounded-circle my-3" width="60" height="60" alt=""> -->
                                    <div class="mt-2"><strong>{{ current_user.correo }}</strong> </div>
                                    <div class="mt-2">Perfil:

                                        {% if current_user['perfil']== 1 %}
                                        Usuario
                                        {%else %}
                                        {% if current_user['perfil']== 2 %}
                                        Editor
                                        {%else %}
                                        Administrador
                                        {%endif%}
                                        {%endif%}
                                    </div>
                                    {% if current_user.perfil == 3 %}

                                    {% endif %}
                                </div>
                            </div>
                            <div class="container bg-light p-1 pt-2 justify-content-center">
                                <div class="col-12 px-1">
                                    {% if current_user.is_anonymous %}
                                    <a class="dropdown-item" href="{{ url_for('inicio_bp.frmlogin2') }}">Inicia
                                        Sesión</a>
                                    {% else %}
                                    <a class=" btn btn-outline-dark w-100 mb-2"
                                        href="{{ url_for('inicio_bp.logout') }}">Cerrar Sesión</a>
                                    {% endif %}
                                </div>

                            </div>




                        </div>
                    </li>
            </ul>
        </div>
    </nav>