{% include '/header.html' %}

<script type="text/javascript">
  function Validate() {
    var password = document.getElementById("txtPassword").value;
    var confirmPassword = document.getElementById("txtConfirmarPassword").value;
    if (password != confirmPassword) {
      alert("La contraseña no coincide, favor intentar nuevamente");
      return false;
    }
    return true;
  }
</script>


</head>

<body style="background-color: hsl(205, 42%, 79%)">
  <div class="container col-md-10 col-lg-7 col-sm-12">
    <div class="card card-widget rounded widget-user mt-5">
      <div class="row justify-content-center">
        <div class="col-11 mt-2">
          {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages%}
          {% for category, msg in messages %}
          <div class="alert alert-{{category}}">
            {{ msg }}
          </div>
          {% endfor %}
          {% endif %}
          {% endwith %}

        </div>
      </div>

      <div class="col-12  mt-5">
        <h1 class="text-center mb-5" style="color: #03396c">Registro Usuario</h1>
        <div class="card">
          <div class="card-header">
            <div class="row align-content-center">
              <div class="col-12 text-center">
                <img width="200px" src="/img/store.png" alt="">
              </div>
              <div class="col-12 text-center">Por favor diligencie todos los datos que se le solicitan a continuación.
              </div>

            </div>

          </div>


        </div>
        <br>

        <div class="card col-12 bg-light">
          <div class="card-body p-2 px-md-5">
            {% block content %}
            <form method="POST" action="" novalidate>
              {{ form.csrf_token }}
              {{ form.hidden_tag() }}

              <div class="col-12 p-0">


                <div class="d-flex flex-row ">
                  {{ form.nombre.label }}
                  {{ form.nombre(class_='form-control ml-2', placeholder="Nombres del Usuario") }}
                </div>
                <div class="text-right">
                  {% for error in form.nombre.errors %}
                  <span style="color: red;">{{ error }}</span>
                  {% endfor %}
                </div>


                <div class="d-flex flex-row mt-2">
                  {{ form.correo.label(class_='text-nowrap') }}
                  {{ form.correo(class_='form-control ml-2', placeholder="Correo Electrónico") }}
                </div>
                <div class="text-right">
                  {% for error in form.correo.errors %}
                  <span style="color: red;">{{ error }}</span>
                  {% endfor %}
                </div>


                <div class="d-flex flex-row mt-2">
                  {{ form.password.label(class_='text-nowrap') }}
                  {{ form.password(class_='form-control ml-2', placeholder="Contraseña", id="txtPassword") }}
                </div>
                <div class="text-right">
                  {% for error in form.password.errors %}
                  <span style="color: red;">{{ error }}</span>
                  {% endfor %}
                </div>

                <div class="d-flex flex-row mt-2">
                  {{ form.confirmarPassword.label(class_='text-nowrap') }}
                  {{ form.confirmarPassword(class_='form-control ml-2', placeholder="Confirmar contraseña",
                  id="txtConfirmarPassword") }}
                </div>
                <div class="text-right">
                  {% for error in form.confirmarPassword.errors %}
                  <span style="color: red;">{{ error }}</span>
                  {% endfor %}
                </div>




              </div>

              <div class="col-12 text-center mt-3">


                {{ form.submit() }}
              </div>

            </form>
            {% endblock %}

          </div>


        </div>
        <br>
      </div>
    </div>
  </div>



  {% include '/footer.html' %}